<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        /*Add custom styles here*/
    </style>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto"> <!-- add ml-auto class here -->
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('kds') }}" target="_blank">KDS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('history') }}" target="_blank">Histories</a>
        </li>
      </ul>
    </div> 
  </nav>

<h2>Cutomer Orders List</h2>
<div class="container">
  <div class="row">
    {% for table_id, table in tables.items() %}
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <h4>Table Num: {{ table_id }}</h4>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Items</th>
                <th scope="col">Quantity</th>
              </tr>
            </thead>
            <tbody>
              {% for order in table["orders"] %}
              <tr>
                <td>{{ order["order_id"] }}</td>
                <td>
                  <ul>
                    {% for item in order["items"] %}
                    <li>{{ item["name"] }} - {{item["quantity"] }}</li>
                    {% endfor %}
                  </ul>
                </td>
                <td>
                  <ul>
                    {% for item in order["items"] %}
                    <li>{{ item["quantity"] }}</li>
                    {% endfor %}
                  </ul>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

</body>
</html>